.card1{
    background-color: rgba(226, 228, 137, 0.514);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    
}
.card2{
    background-color: rgb(89, 226, 112);
}
